.states
*.db
assets/external/
*.py[cod]
.web
__pycache__/
deepre.egg-info/

.DS_Store

.env
# TODO: Readd these once app is deployable
# ignore below until fully working app
uv.lock
.python-version
requirements.txt

services/
**/_stubs*

# windsurf rules
.windsurfrules
_ignore/
.cache

.cursor/
.vscode/
.coverage
# ignore fixtures for time being, should be mocked later
tests/fixtures/
